/* grille des projets, contient des .project*/

.project-grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr;
}

@media (min-width: 768px) {
  .project-grid {
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }
}

/*carte d'un projet*/

.project {
  aspect-ratio: auto;
  cursor: pointer;
  padding: 1rem;
  border: 1px solid rgb(218, 217, 220);
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(5px);
  transition: transform 0.8s ease, backdrop-filter 0.8s ease,
    box-shadow 0.8s ease;
}

@media (min-width: 768px) {
  .project {
    aspect-ratio: 5/3;
  }
}

.project:hover {
  transform: translateY(-10px);
  box-shadow: 0 0px 5px var(--secondary-text-color);
  /* backdrop-filter: blur(3px); */
}

.projects {
  padding: 2rem;
  width: 90%;
  max-width: 1400px;
}

.project-page {
  max-width: 1600px;
  width: 100%;

  height: 100%;
}

.project-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.description h3 {
  font-size: 2rem;
  font-weight: 700;
  font-style: normal;
  text-align: center;
  text-transform: none;

  color: var(--secondary-text-color);
  margin: 0;
  padding: 5px;
}

@media (max-width: 768px) {
  .description h3 {
    font-size: 1.5rem;
  }
}

.description h4 {
  font-size: 1rem;
  text-align: center;

  padding-left: 3px;
  padding-right: 3px;
}

.project p {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  font-size: 1rem;
  text-align: justify;
  font-weight: 500;
  font-style: normal;
  line-height: 20px;
  letter-spacing: 0px;
}

.links {
  font-size: 0.8rem;
  line-height: 0;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.links div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.links a {
  color: var(--primary-text-color);
  text-decoration: underline;
}

.links a:hover {
  color: var(--secondary-text-color);
  text-decoration: none;
}

#project-title {
  padding-top: 2rem;
  text-align: center;
  color: var(--secondary-text-color);
}
#project-subtitle {
  padding-top: 1rem;
  text-align: center;
}

#project-page {
  min-height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  max-width: 900px;
  width: 100%;
}

.keyword-item {
  color: #555;
  display: block;
  font-size: 0.9em;
  padding-bottom: 0.5rem;
  text-transform: uppercase;
}

.lecture {
  margin: auto;

  background-color: rgba(171, 71, 188, 0.9);
  color: rgb(255, 250, 238);
  font-weight: 700;
  border-radius: 4px;
  cursor: pointer;

  padding: 0.5rem 1rem;

  height: 1.5rem;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.lecture:hover {
  background-color: rgba(171, 71, 188, 0.74);
}

.tech-tag {
  background-color: #e9ecef;
  color: #333;
  padding: 4px 10px;
  border-radius: 10px;
  font-size: 0.9em;
  margin-right: 0.5rem;

  margin-bottom: 0.5rem;
  display: inline-block;
}

.concept-tag {
  border: 1px solid var(--secondary-text-color);
  color: var(--secondary-text-color);
  padding: 3px 9px;
  border-radius: 10px;
  font-size: 0.9em;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  display: inline-block;
}

.resume {
  background-color: white;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 1.5rem;
  text-align: left;

  border: 1px solid var(--primary-border-color);
  width: 100%;
}

.meta-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 1rem;
  margin-bottom: 1rem;
}

.project-footer {
  width: 100%;
  padding: 0.5rem;
  text-align: center;
  margin-top: 15px;
  font-weight: 500;
}

.project-footer a {
  padding: 0.5rem;
  color: var(--secondary-text-color);
  background-color: white;
  text-decoration: none;
  transition: color 0.2s ease;
  border-top: 1px solid var(--secondary-text-color);
}

.project-footer a:hover {
  text-decoration: underline;
}

.github-link {
  width: 2.2rem;
  height: 2.2rem;

  flex-shrink: 0;

  box-sizing: border-box;

  background-color: rgb(51, 51, 51, 0.9);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  text-decoration: none;
  overflow: hidden;

  transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

.github-link img {
  display: block;
  width: 80%;
  height: auto;

  object-fit: contain;
}

.github-link:hover {
  background-color: rgb(51, 51, 51, 0.7);
}

.icon {
  display: inline;
  width: 1rem;
  height: 1rem;
}
