.previous, .next{
  background-color: rgba(171, 71, 188, 0.18);
  z-index: 5 ;

  position: fixed;
  bottom: 100px;

  font-size:0.8rem;

  display: flex;
  flex-direction: row;
  align-items:center;
  justify-content: center;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}


.previous{
  left: 0px;
  border-radius: 0px 20px 20px 0px;
}
@media (min-width: 768px) {
  .previous{
    left: 33px;
    border-radius: 0px 20px 20px 0px;
  }
}




.next{    
  right: 0px;
  border-radius: 20px 0px 0px 20px;
}
.previous:hover, .next:hover{
  background-color: rgba(171, 71, 188, 0.28);
}

.previous svg, .next svg{
  width: 1rem;
  height: 1rem;
  fill: var(--primary-text-color)
}

.previous a, .next a{
  display: flex;
  flex-direction: row;
  align-items: center;

  color: var(--primary-text-color);
  font-weight: 500;
  cursor: pointer;

  padding: 1rem;
  
  width: 100%;
  height: 100%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),  color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hhh{  
  display: none;
}

@media (min-width: 768px) {
  .hhh{  
    display: initial;
    max-width: 300px;
  }
}


.previous .hhh{
  padding-left: 1rem;
}


.next .hhh{
  padding-right: 1rem;
}