details{
  font-weight: 200;
  font-style: normal;
  line-height: 26px;
  letter-spacing: 0px;
}

summary:hover{
    cursor: pointer;
}

summary .label{
text-decoration: underline;
}

summary:hover .label{
    text-decoration: none;
}


summary .label::before{
    content: "Note: ";
}

details[open] > p, details[open] > .paragraph{
    padding-top: 15px;
    margin-left: 0.25rem;
    padding-left: 15px;
    padding-bottom: 15px;
    border-left: 1px solid var(--primary-border-color);
    border-bottom: 1px solid var(--primary-border-color);
}
