@import url("https://rsms.me/inter/inter.css");

@import url("https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/katex.min.css");
@import url("https://cdn.jsdelivr.net/gh/enpeluche/enpeluche.github.io@main/shared-assets/reader/algorithm.css");
@import url("https://cdn.jsdelivr.net/gh/enpeluche/enpeluche.github.io@main/shared-assets/reader/course.css");
@import url("https://cdn.jsdelivr.net/gh/enpeluche/enpeluche.github.io@main/shared-assets/reader/figure.css");
@import url("https://cdn.jsdelivr.net/gh/enpeluche/enpeluche.github.io@main/shared-assets/reader/footer.css");
@import url("https://cdn.jsdelivr.net/gh/enpeluche/enpeluche.github.io@main/shared-assets/reader/footnotes.css");
@import url("https://cdn.jsdelivr.net/gh/enpeluche/enpeluche.github.io@main/shared-assets/reader/references.css");
@import url("https://cdn.jsdelivr.net/gh/enpeluche/enpeluche.github.io@main/shared-assets/reader/table.css");
@import url("https://cdn.jsdelivr.net/gh/enpeluche/enpeluche.github.io@main/shared-assets/reader/toc.css");

@import "./components/News/News.css";
@import "./components/Project/Project.css";
@import "root.css";
@import "reset.css";
@import "header.css";

:root {
  font-family: "Inter", sans-serif;

  font-feature-settings:
    "liga" 1,
    "calt" 1;
}

@supports (font-variation-settings: normal) {
  :root {
    font-family: "InterVariable", sans-serif;
  }
}

html {
  font-size: 1.2rem;
}
