table{
    border-collapse: collapse;
    margin: 1.5rem auto;
}

caption{
    color: var(--secondary-text-color);
    padding-bottom: 1rem;
    font-weight: 300;
}
td, th{
    border: 1px solid var(--primary-border-color);

    padding:0.5rem;
    
    min-width: 1rem;
    height: 2rem;

    text-align: center;
}

@media (min-width: 768px) {
    td, th{
        border: 1px solid var(--primary-border-color);
    
        padding:0.5rem;
        
        min-width: 2rem;
        height: 2rem;
    
        text-align: center;
    }

}




th {
    font-weight: 700;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0;
}

